Repository PowerSystem2024/EliteCoders-TercerSemestre, pull requests merged in 2025-06, with the labels that each got.

#76 Clase 9 Java
  Codigo Juego/Clase 3 y 4 Área Juegos/html/avatar.html
  Codigo Juego/Clase 3 y 4 Área Juegos/js/avatar.js
  Java/Leccion09/CalculadoraUTN/.vscode/settings.json
  Java/Leccion09/CalculadoraUTN/README.md
  Java/Leccion09/CalculadoraUTN/src/CalculadoraUTN.java
  Python/Leccion07/capa_datos_persona/logger_base.py
  README.md
Labels: Java

#81 Clase 9 Python
  Python/Leccion07/.idea/Leccion07.iml
  Python/Leccion07/.idea/misc.xml
  Python/Leccion07/capa_datos_persona/.gitignore
  Python/Leccion07/capa_datos_persona/__pycache__/logger_base.cpython-313.pyc
  Python/Leccion07/capa_datos_persona/capa_datos.log
  Python/Leccion07/capa_datos_persona/persona_dao.py
Labels: Python

#89 agregado de hud básico y lógica de juego
  Proyecto-Integrador-Python/Space-Invaders-UTN/.idea/workspace.xml
  Proyecto-Integrador-Python/Space-Invaders-UTN/src/core/__pycache__/game.cpython-313.pyc
  Proyecto-Integrador-Python/Space-Invaders-UTN/src/core/__pycache__/hub.cpython-313.pyc
  Proyecto-Integrador-Python/Space-Invaders-UTN/src/core/game.py
  Proyecto-Integrador-Python/Space-Invaders-UTN/src/core/hub.py
  Proyecto-Integrador-Python/Space-Invaders-UTN/src/entities/__pycache__/bullet.cpython-313.pyc
  Proyecto-Integrador-Python/Space-Invaders-UTN/src/entities/__pycache__/enemy.cpython-313.pyc
  Proyecto-Integrador-Python/Space-Invaders-UTN/src/entities/__pycache__/player.cpython-313.pyc
  Proyecto-Integrador-Python/Space-Invaders-UTN/src/entities/bullet.py
  Proyecto-Integrador-Python/Space-Invaders-UTN/src/entities/enemy.py
  Proyecto-Integrador-Python/Space-Invaders-UTN/src/entities/player.py
  Proyecto-Integrador-Python/Space-Invaders-UTN/src/main.py
Labels: Python

#94 agregado de sonidos e imágenes
  Proyecto-Integrador-Python/Space-Invaders-UTN/.idea/workspace.xml
  Proyecto-Integrador-Python/Space-Invaders-UTN/assets/images/enemy.png
  Proyecto-Integrador-Python/Space-Invaders-UTN/assets/images/player.png
  Proyecto-Integrador-Python/Space-Invaders-UTN/assets/sounds/invaderkilled.wav
  Proyecto-Integrador-Python/Space-Invaders-UTN/assets/sounds/shoot.wav
  Proyecto-Integrador-Python/Space-Invaders-UTN/src/__pycache__/settings.cpython-313.pyc
  Proyecto-Integrador-Python/Space-Invaders-UTN/src/core/__pycache__/game.cpython-313.pyc
  Proyecto-Integrador-Python/Space-Invaders-UTN/src/core/__pycache__/hub.cpython-313.pyc
  Proyecto-Integrador-Python/Space-Invaders-UTN/src/core/game.py
  Proyecto-Integrador-Python/Space-Invaders-UTN/src/core/hub.py
  Proyecto-Integrador-Python/Space-Invaders-UTN/src/entities/__pycache__/bullet.cpython-313.pyc
  Proyecto-Integrador-Python/Space-Invaders-UTN/src/entities/__pycache__/enemy.cpython-313.pyc
  Proyecto-Integrador-Python/Space-Invaders-UTN/src/entities/__pycache__/player.cpython-313.pyc
  Proyecto-Integrador-Python/Space-Invaders-UTN/src/entities/bullet.py
  Proyecto-Integrador-Python/Space-Invaders-UTN/src/entities/enemy.py
  Proyecto-Integrador-Python/Space-Invaders-UTN/src/entities/player.py
  Proyecto-Integrador-Python/Space-Invaders-UTN/src/main.py
Labels: Python

#97 se agregaron ataques enemigos
  Proyecto-Integrador-Python/.gitignore
  Proyecto-Integrador-Python/Space-Invaders-UTN/.idea/inspectionProfiles/profiles_settings.xml
  Proyecto-Integrador-Python/Space-Invaders-UTN/.idea/misc.xml
  Proyecto-Integrador-Python/Space-Invaders-UTN/.idea/vcs.xml
  Proyecto-Integrador-Python/Space-Invaders-UTN/.idea/workspace.xml
  Proyecto-Integrador-Python/Space-Invaders-UTN/data/game_data.db
  Proyecto-Integrador-Python/Space-Invaders-UTN/src/core/game.py
  Proyecto-Integrador-Python/Space-Invaders-UTN/src/core/hud.py
  Proyecto-Integrador-Python/Space-Invaders-UTN/src/data/data.txt
  Proyecto-Integrador-Python/Space-Invaders-UTN/src/data/game_data.db
  Proyecto-Integrador-Python/Space-Invaders-UTN/src/entities/enemy.py
  Proyecto-Integrador-Python/Space-Invaders-UTN/src/entities/player.py
  Proyecto-Integrador-Python/Space-Invaders-UTN/src/main.py
  Proyecto-Integrador-Python/Space-Invaders-UTN/src/systems/progress.py
  Proyecto-Integrador-Python/data/game_data.db
  Proyecto-Integrador-Python/requirements.txt
Labels: Python

#101 Clase 11/12 Java
  Java/Leccion11/.idea/workspace.xml
  Java/Leccion11/SistemaEstudiantes/.gitignore
  Java/Leccion11/SistemaEstudiantes/.idea/.gitignore
  Java/Leccion11/SistemaEstudiantes/.idea/encodings.xml
  Java/Leccion11/SistemaEstudiantes/.idea/misc.xml
  Java/Leccion11/SistemaEstudiantes/.idea/vcs.xml
  Java/Leccion11/SistemaEstudiantes/pom.xml
  Java/Leccion11/SistemaEstudiantes/scripts.sql
  Java/Leccion11/SistemaEstudiantes/src/main/java/utn/Main.java
  Java/Leccion11/SistemaEstudiantes/src/main/java/utn/conexion/Conexion.java
  Java/Leccion11/SistemaEstudiantes/src/main/java/utn/datos/EstudianteDAO.java
  Java/Leccion11/SistemaEstudiantes/src/main/java/utn/dominio/Estudiante.java
Labels: Java, Base de Datos
